.container {
  height: auto;
  color: var(--color-text);
  background-color: var(--color-bg);
}

.list_container {
  width: auto;
  height: 500px;
  overflow: scroll;
}

.input_container {
  display: flex;
  justify-content: center;
}

.input {
  width: 98%;
  height: 30px;
}
