.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  width: 90%;
}

.info_container {
}

.info_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: salmon;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
}

.info_icon:hover ~ .info_list {
  display: block;
  cursor: pointer;
}

.info_list {
  display: none;
  position: absolute;
  left: 20px;
  width: 180px;
  background-color: darkgrey;
  border-radius: 10px;
  padding: 8px;
  z-index: 1;
}

.dDay_counter_container {
  width: 100px;
  height: 20px;
  background-color: white;
  text-align: center;
}
