.container {
  height: inherit;
  width: inherit;
  border-color: aqua;
}

.list_container {
  height: 100%;
  width: auto;
}

.input_container {
  display: flex;
  justify-content: center;
}

.input {
  width: 98%;
  height: 30px;
}
