.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  width: 90%;
}

.info_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_icon {
  display: flex;
  background-color: aqua;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.info_icon:hover ~ .info_list {
  display: block;
}
.info_list {
  left: -200px;
  display: none;
  position: absolute;
  width: 180px;
  background-color: darkgrey;
  border-radius: 10px;
  padding: 8px;
}

.test {
  background-color: blue;
  width: 50px;
  height: 100px;
}

.dDay_counter_container {
  width: 100px;
  height: 20px;
  background-color: white;
  text-align: center;
}
