.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: beige;
  overflow: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

.to_do_list_container {
  background-color: black;
}
