.container {
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: aqua;
  height: 300px;
  border-radius: 100%;
}

.timer_control_button {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: palevioletred;
}

.timer_control_arrow {
  position: relative;
  width: 10px;
  height: 30px;
  left: 10px;
  bottom: 10px;
  background-color: black;
  /* transform: rotate(10deg); */
}
